.arrow {
    width: 56px;
    height: 56px;
    background-color: rgba(222, 222, 222, 0.642);
    color: black;
    font-size: 35px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.left {
    left: 55px;
}

.right {
    right: 57px;
}

.titleUnderArrow {
    position: absolute;
    top: 70px;
    white-space: nowrap;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(222, 222, 222, 0.642);
    font-weight: bold;
}