.mainContainer {
    position: relative;
}

.mainPhoto {
    height: auto;
    display: block;
    background-image: url(./../../../assets/image/homePage/header/mainPhoto.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: auto;
    z-index: 2;
}