.inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.inputBox {
    width: 70%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.iconSearch {
    position: relative;
    left: 30px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.notFound {
    padding: 1rem;
    color: #888;
    font-style: italic;
}