.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
    justify-content: center;
}

.imageContainer {
    position: relative;
}

.imageItems {
    width: 200px;
    height: 200px;
    object-fit: cover;
}