.mainContent {
    position: relative;
    width: 100%;
    font-size: 14px;
}

.backgroundImage {
    position: relative;
    z-index: 0;
}

.foodPhoto {
    width: 100%;
    display: block;
    z-index: 0;
}

.block {
    position: absolute;
    top: 0%;
    right: 0;
    z-index: 2;
    background-color: #ffffff;
    padding: 20px;
    width: 47%;
    text-align: center;
    padding-bottom: 30px;
}

.groupIcon {
    display: flex;
    gap: 40px;
    justify-content: center
}

.block2 {
    position: absolute;
    top: 41%;
    left: 0;
    z-index: 3;
    background-color: #ffffff;
    padding: 20px;
    width: 49%;
    text-align: center;
    padding-bottom: 30px;
}

.subtitle {
    color: #920003;
    font-weight: 400;
}

.subtitle2 {
    margin-top: 30px;
    color: #5e0e26;
}

.socialLogo {
    height: 40px;
    width: 40px;
}

.phone,
.takeOut {
    margin-bottom: 25px;
}

.hoursWork,
.phoneNum,
.sectionTakeOut,
.deliveryText {
    line-height: 0.7;
}


.linkDelivery {
    padding-top: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.delivery {
    margin-bottom: 20px;
}

.linkItem {
    color: black;
}